.App {
  text-align: center;
}
.todolistWrapper{
  border: 2px solid greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist {
  border: 1px solid #a5538b;
  width: 300px;
  margin: 10px;
}